 {
    padding: 0;
    margin: 0;
} 

.container {
    width: 80%;
    margin: 0 auto;
}

header  {   
    background-color: #fff;
    height: 90px;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: baseline;
}

header ul {
    list-style: none;
    display: flex;
    flex-direction: row;

}

header ul li {
}

.bondu {
}

.bg-img {
    background-image: url('camera.jpg');
    height: calc( 100vh - 90px);
    background-position: center;
    background-size: cover;
}